<!DOCTYPE html>
<html>
<head>
	<title>Portfolio Viewer</title>

	<link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/md-data-table.min.css">
    <link rel="stylesheet" href="css/murex-style.css">

	<!-- angular + angular material -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>
    <script src="lib/angular-material/angular-material.min.js"></script>

    <!-- angular data table -->
    <script src="lib/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- angular charts -->
    <script src="lib/chart.js/dist/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
</head>

<body ng-app="murexApp" ng-controller="murexRootController">

    <div ng-show="!tradePerformed">
        <md-content class="page-login" layout="row" layout-align="space-around" ng-cloak="ng-cloak">
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3> Data Selection </h3>
                    </div>
                </md-toolbar>

                <div layout="column" layout-align="center center" style="min-width: 300px; min-height: 260px;">
                    <md-button class="md-raised md-primary" ng-click="backTestData()">BackTest Data</md-button>
                    <md-button disabled class="md-raised md-primary" ng-click="realData()">Real Data</md-button>
                    <!--<md-button class="md-raised md-primary" ng-click="realData()">Real Data</md-button>-->
                    <md-button disabled class="md-raised md-primary" ng-click="strategyEvaluation()">Evaluate Strategies</md-button>
                    <!--<md-button class="md-raised md-primary" ng-click="strategyEvaluation()">Evaluate Strategies</md-button>-->

                </div>
            </md-card>
        </md-content>
    </div>

    <!-- Main content -->
    <div ng-show="tradePerformed">
        <!-- Header -->
        <div class="header" layout="row">
            <p flex style="padding-top: 23px; color: rgb(79, 102, 113); font-size: 20px;" > &nbsp; Capco Portfolio Viewer</p>

            <!-- user profile fab -->
            <md-fab-speed-dial md-direction="left" md-open="false" class="md-scale user-profile-top-right">
                <md-fab-trigger>
                    <md-button id="userProfileFab" aria-label="User profile" class="md-fab md-hue-2" style="background-image: url(media/user_icon-128.png) !important; background-size: cover;">
                    </md-button>
                    <md-tooltip>
                        User
                    </md-tooltip>
                </md-fab-trigger>
            </md-fab-speed-dial>
        </div>

        <div layout="row" style="max-width: 70%; margin: 0 auto;">
          <div flex>
              <md-card>
                <md-card-content>
                    <fincance-dashboard dashboard-data="account.portfolio"></fincance-dashboard>
                 </md-card-content>
              </md-card>
          </div>
        </div>
    </div>

	<!-- custom app js -->
	<script src="app.js"></script>

    <!-- custom components -->
    <script src="components/financeDashboardComponent.js"></script>
</body>
</html>